.t1{
    color: cornflowerblue; font-size: 20px;
}
.t2{
    color: crimson; font-size: 20px;
}
input[type="submit"]{
    background-color: crimson; color: wheat; padding: 15px; border-color: violet; border-radius: 24px;
}
input[type="submit"]:hover{
        background-color: chartreuse; color: chocolate; cursor: pointer; 
}
del{
    color: crimson;
}
fieldset:hover{
    border-color: red; 
}
body{
    background-color:#bb99b7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
fieldset{
    background-color: white; color: black;
    width: auto;
    height: auto;
}footer{
    background-color: black; color: blanchedalmond;
}
p.rtl {
    direction: rtl;
}
th div u{
    color:rgb(51, 107, 228)
}
th div u:hover{
    color:rgb(228, 157, 51)
}
footer a:hover{
    color: yellow;
}
div u{
    font-size: 40px; font-style: oblique;
}
div b{
    color: red;
}
div u {
    color: purple;
}