.top-image{
    background-image: url('bmain2.jpg');
    width: 100%;
    height: 70vh;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}
.detail{
    position:absolute;
    z-index: 1;
    display: flex;
    background-color: white;
    left: 24vw;
    top:60vh ;
    width: 46vw;
    height: 30vh;
}


.detail table th{
    background-color: black;
    color: cornsilk;
    font-size: 2rem;
    
}
.detail table form{
    text-align: center;
   
    
    
    
}
.detail{
    border-radius: 10px;
    background-color:burlywood;
    
}
input[type="submit"]{
    background-color: crimson; color: wheat; padding: 20px; border-color: violet; border-radius: 10px;
}
input[type="submit"]:hover{
    background-color: chartreuse; color: chocolate; cursor: pointer; 
}
input:focus{
    background-color: yellow;
}
select:hover{
    border-color: red;border-width: 5px;
}
p.rtl {
    direction: rtl;
}
footer a:hover{
    color: yellow;
}
footer{
    background-color: black; color: blanchedalmond;
}
.down{
    display: inline-block;
}
table{
    display: flex;
    
}
.d1{
    font-size: 4rem ;
    
    
} 
.d2{
display: inline-block;
width: 45vw;
}
.d3{
    display: inline-block;
    width: 45vw;
}
.d4{
    display: inline-block;
    width: 45vw;
}
.d5{
    display: inline-block;
    width: 45vw;
}
b{
    font-size: 2rem;
    color: white;
}
